[submodule "themes/vscode"]
	path = themes/vscode
	url = https://github.com/hardhackerlabs/theme-vscode
[submodule "themes/windows-terminal"]
	path = themes/windows-terminal
	url = https://github.com/hardhackerlabs/theme-windows-terminal
[submodule "themes/lsd"]
	path = themes/lsd
	url = https://github.com/hardhackerlabs/theme-lsd
[submodule "themes/iterm2"]
	path = themes/iterm2
	url = https://github.com/hardhackerlabs/theme-iterm2
[submodule "themes/macos-terminal"]
	path = themes/macos-terminal
	url = https://github.com/hardhackerlabs/theme-macos-terminal
[submodule "themes/vim"]
	path = themes/vim
	url = https://github.com/hardhackerlabs/theme-vim
[submodule "themes/sublime"]
	path = themes/sublime
	url = https://github.com/hardhackerlabs/theme-sublime
[submodule "themes/hyper"]
	path = themes/hyper
	url = https://github.com/hardhackerlabs/theme-hyper
[submodule "themes/alacritty"]
	path = themes/alacritty
	url = https://github.com/hardhackerlabs/theme-alacritty
[submodule "themes/jetbrains"]
	path = themes/jetbrains
	url = https://github.com/hardhackerlabs/theme-jetbrains
